body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    color: blue;
}

main {
    flex: 2;
}

section {
    margin: 50px auto;

    .result-label {
      margin-top: 10px;
    }

    .result-value {
      color: black;
    }

    .sentiment-results {
      text-align: center;
      width: 100%;
    }
}
