<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment analysis website</title>
    </head>

    <body>

        <header>
            <h1> Welcome to this simple Sentiment analysis website </h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                  <textarea id="formText"> </textarea>
                  <span> <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"> </span>

                </form>
            <section>

            <section>
                <p class="sentiment-results"><strong>Sentiment analysis Results</strong></p>
                <div class="result-label">
                  <label>Subjective Or Objective : </label>
                  <span class="result-value" id="objectivity"> </span>
                </div>
                <div class="result-label">
                  <label>Irony : </label>
                  <span class="result-value" id="irony"> </span>
                </div>

                <table class="result-label" id="table">
                  <tr>
                    <th> Sentence </th>
                    <th> Confidence </th>
                    <th> Score-tag</th>
                  </tr>
                </table>
            </section>
        </main>

        <footer>
            <p>Thanks for using website !</p>
        </footer>

    </body>
</html>
